<div><nav class='navbar navbar-expand-lg bg-body-tertiary'>
    <div class='container-fluid'>
      <a class='navbar-brand display-5' href='#'>Hydro-clinic</a>
      <button
        class='navbar-toggler'
        type='button'
        data-bs-toggle='collapse'
        data-bs-target='#navbarNavAltMarkup'
        aria-controls='navbarNavAltMarkup'
        aria-expanded='false'
        aria-label='Toggle navigation'
      >
        <span class='navbar-toggler-icon'></span>
      </button>
      <div class='collapse navbar-collapse' id='navbarNavAltMarkup'>
        <div class='navbar-nav'>
          <a class='nav-link active' aria-current='page' href='/'>Home</a>
        </div>
      </div>
    </div>
  </nav>
</div>

<div class='registercontainer'>
  <form class='login-register-form' action='/user/register' method='post'>
    {{#if errorMessage}}
      <p class='error'>{{errorMessage}}</p>
    {{/if}}

    <div class='pb-3'>
      <label for='name' class='form-label'>Name</label>
      <input
        type='text'
        class='form-control'
        id='name'
        name='name'
        value='{{name}}'
      />

    </div>

    <div class='pb-3'>
      <label for='username' class='form-label'>User Name</label>
      <input
        type='text'
        class='form-control'
        id='username'
        name='username'
        value='{{username}}'
      />
      {{#if userNameError}}
        <p class='error'>{{userNameError}}</p>
      {{/if}}

    </div>

    <div class='mb-3'>
      <label for='password' class='form-label'>Password</label>
      <input
        type='password'
        class='form-control'
        id='password'
        name='password'
      />
      {{#if passwordError}}
        <p class='error'>{{passwordError}}</p>
      {{/if}}
    </div>

    <button type='submit' class='btn btn-primary'>Register</button>
  </form>
</div>
