<h1>Patients</h1>

<div class='patient-list-container'>

  {{#each patients}}<div>
      <div class='card'>
        <div class='card-body'>
          <h5 class='card-title'>{{name}}</h5>
          <p class='card-text'>{{age}}</p>
          <p class='card-text'>{{sex}}</p>
          <p class='card-text'>{{address}}</p>
          <a
            href='/patient/{{_id}}/diagnoses'
            class='btn btn-primary'
          >Diagnose</a>
          <a href='/patient/{{_id}}/edit' class='btn btn-primary'>edit</a>
          <a href='/patient/{{_id}}/delete' class='btn btn-primary'>delete</a>
        </div>
      </div>
    </div>
  {{/each}}

</div>
